.current {
    color: rgb(40, 36, 252);
}

.last_name {
    color: rgb(95, 224, 249);
}

/* Reset dasar untuk memastikan konsistensi antar browser */
* {
    margin: 0;
    padding: 1;
    box-sizing: border-box;
}

/* Pengaturan untuk body */
body {
    font-family: 'Times new roman', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 2.0;
    padding: 20px;
}

/* Navigasi */
nav {
    margin-top: 20px;
    text-align: center;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #ddd;
}

nav a:hover {
    color: white;
    font-size: 1.2em;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.3s ease;
}

/* Menentukan lebar dan tinggi gambar secara manual */
img {
    width: 300px;
    height: auto; /* Menjaga proporsi gambar tetap utuh */
}

/* Gaya untuk link */
li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

li a {
    color: #0066cc;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 0px;
    border-radius: 20px;
    background-color: #ececec;
}

li a:hover {
    text-decoration: underline;
}